body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 70%;
    margin: auto;
}
.header {
    /* border: 2px solid green; */
    height: 300px;
    box-sizing: border-box;
}
#photo {
    width: 280px;
    float: left;
    padding: 10px;
    border-radius: 50%;
    background-color: gray;
}
.descrition {
    position: absolute;
    top: 80px;
    left: 650px;
    right: 300px;
}
.nav li {
    display: inline-block;
    background-color: gray;
    padding: 10px;
    color: white;
}
.nav li:hover {
    background-color: black;
    font-weight: 700;
    
}
.nav {
    position: absolute;
    left: -40px;
}
.section {
    text-align: center;
    /* border: 2px solid green; */
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: gray;
    color: rgb(255, 255, 255);
}
.section h3, .section2 h3 {
    font-size: 30px;
    
}
.section li, .section2 li {
    list-style: none;
    padding: 20px;
}
.section2 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.section2 ul a{
    text-decoration: none;
}
.list a {
    text-decoration: none;
}
.list a:visited{
    color: white;
}