
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Radio Canada';
    color: rgb(37, 37, 37);
    
}
body {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
main {
    background-color: rgb(255, 255, 255);
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 7%;
    margin-top: 7%;
}
.navbar {
    display: flex;
    background-color: rgb(37, 37, 37);
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    flex-grow: 1;
}
.nav-link {
    padding: 15px;
    background-color: rgb(37, 37, 37);
    border: 0px;
    
}
.nav-link a {
    color: aliceblue;
    text-decoration:none;
}
header {
    height: 100vh;
    
}
.hero {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */
    align-items: center;
}

#photo {
    border-radius: 50%;
    width: 200px;
    display: flex;
    margin: 40px;
}

.colT { 
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   /* border: 2px solid black; */
   align-self: center;
}
.colP {
    /* border: 2px solid black; */
} 
.conteiner {
    /* border: 2px solid rgb(233, 0, 182); */
    display: flex;
    height: 280px;
    flex-grow: 1;
    
    
}
.contact{
    display: flex; 
}
.contact i{
    padding: 0% 1% 0% 0%;
}
#foguete {
    width: 100px;
    height: 100px;
    display: flex;
    align-self: flex-start;
    
}

/* .foguete {
    border: 2px solid black; 
} */

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 0px 100px 0px;
    height: 100vh;
}
p {
    padding: 100px 10% 100px 10%;
    /* background-color: red; */
}

.tecIcons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tecIcons i {
    display: flex;
    padding: 3%;
    font-size: 100px;
}