.footer {
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.3);
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;
  bottom: 1.5rem;
}



.footerItem {
  padding: 10px 20px;
  cursor: pointer;
}

@media screen and ( max-width : 780px ) {

  .footerItem {
    padding: 10px 8px;
  }

}