.header {
  align-items: center;
  background-color: white;
  border-radius: 35px;
  box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.3);
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 25px;
}

.allHeader {
  height: 120px;
}

.headerContainer1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.headerContainer2 {
  display: flex;
  justify-content: space-between;
}

.headerItem {
  padding: 10px 20px;
}

@media screen and ( max-width : 780px ) {

  .allHeader {
    margin-bottom: 20%;
  }

  .headerItem {
    padding: 10px 8px;
  }
}