.contFix {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

span {
  padding: 1.5rem
}

.contantsCont {
  padding: 5rem;
}

@media screen and ( max-width : 780px ) {
  .row {
    padding: 0;
  }
}