.imageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.photo {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

@media screen and ( max-width : 780px ) {

  .imageContainer {
    margin: 0;
    padding: 0;
    margin-bottom: 2.5rem;
  }

  .photo {
    height: 180px;
    width: 180px;
  }
  
}