.imageContainer {
/* position: absolute;
width: 667px;
height: 768px; */

/* background: url(20210528_184351.jpg); */
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10%;

}
.photo {
/* position: relative; */
width: 200px;
border-radius: 50%;


}