.content {
  align-items: center;
  display: flex;
  height: 300px;
  width: 500px;
}

.containerProjects {
  align-items: center;
  display: flex;
  flex-direction: column;

}

.buttonNext {
  border-radius: 50%;
  margin: 10px 20px;
}

@media screen and ( max-width : 780px ) {

  .content {
    max-width: 24rem;
    height: auto;
  }

  .discriptionContainer {
    max-width: 24rem;
    padding: 1rem;
  }
}
